 <h1>Jamie's Musical Box</h1>

 <body 
   <div id="nav">
    <ul>
         <li class="Inventory"><a href="/inventory">Inventory</a></li>
         <li class="Albums"><a class="active" href="/albums">Albums</a></li>
         <li class="Artists"><a href="/artists">Artists</a></li>
         <li class="Genres"><a href="/genres">Genre</a></li>
         <li class="Add new Artists"><a href="/artists/new">Add new artist</a></li>
         <li class="Add new Albums"><a href="/albums/new">Add new album</a></li>
         <li class="Add new Genres"><a href="/genres/new">Add new genre</a></li>
  
    </ul>
   </div>
 </body>

<!--  <a href="/inventory">Inventory</a>
 <a href="/albums">Albums</a>
 <a href="/artists">Artists</a>
 <a href="/genres">Genres</a> -->
 

 