<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" type="text/css" href="/table.css">
  <title>Jamie's Musical Box</title>
  <link rel="icon" href="/images/gram.png" />

</head>
<body>
<%= yield %>
</body>
</html>