<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" type="text/css" href="/table.css">
  <title>Jamie's Musical Box</title>
  <link rel="icon" href="/images/gram.png" />

</head>
<body>
<div id="nav">
<h1>Jamie's Musical Box</h1>
 <ul>
      <li class="Home"><a href="/">Home</a></li>
      <li class="Inventory"><a href="/inventory">Inventory</a></li>
      <li class="Albums"><a class="active" href="/albums">Albums</a></li>
      <li class="Artists"><a href="/artists">Artists</a></li>
      <li class="Genres"><a href="/genres">Genre</a></li>

 </ul>
</div>
<%= yield %>
</body>
</html>