h1{
  text-align: center;
  font-size: 36px;
  font-family: "Arial, Helvetica, sans-serif";
}


td,th {
  padding: 10px 20px
}

 body {
  background-color: silver;
  
 }

 .low {
  color: red;
 }

 .medium{
  color: yellow;
 }

 .high{
  color:green;
 }

 table { width: 600px; } /* Make table wider */  
 td, th { border: 1px solid black; } /* Add borders to cells */