*{
  padding:0;
  margin :0;
 }
/*Thanks to Glen for above*/

#nav {
  text-align: center;
  color:white;
  margin: 0;
}

#nav h1 {
  font-size: 46px;
  font-family: Helvetica, sans-serif;
  text-transform:uppercase;
  background-image: url(/images/vinyls.jpg);
}

  a{
    color:red;outline: thick;
  }

  h1{
    color:white;
  }

 body {
  background-color: silver;
  background-size: cover;
 }

 .low {
  color: red;
 }

 .medium{
  color: yellow;
 }

 .high{
  color:green;
 }

 li {
     display: inline;
 }

 li {
  padding:10px 40px
 }

 ul {
     list-style-type: none;
     margin: 10;
     padding: 0;
     overflow: hidden;
     background-color: #333;
     font-size: 40px;
 }

 li {
     float: left;
 }

 li a {
     display: block;
     color: white;
     text-align: center;
     padding: 20px 20px;
     text-decoration: none;
 }

 /* Change the link color to #111 (black) on hover */
 li a:hover {
     background-color: #111;
 }

p  {
  font-size:30px;
  color:white;
}