*{
  padding:0;
  margin :0;
}
h1{
  text-align: center;
  color:white;
  font-size: 46px;
  font-family: "Helvetica,serif";
  margin: 0;
  background-image: url(../images/vinyls.jpg);
}


td,th {
  padding: 10px 20px
}

 body {
  background-color: silver;
  /*background-image:url(../images/spinningrecord.gif);
  background-size: cover;*/
  

  
 }

 .low {
  color: red;
 }

 .medium{
  color: yellow;
 }

 .high{
  color:green;
 }

 li {
     display: inline;
 }

 li {
  padding:10px 40px
 }

 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
 }

 li {
     float: left;
 }

 li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }

 /* Change the link color to #111 (black) on hover */
 li a:hover {
     background-color: #111;
 }


 table { width: 600px; } /* Make table wider */  
 td, th { border: 1px solid black; } /* Add borders to cells */