td,th {
  padding: 10px 20px;
  margin left:20px;
} 

table { width: 600px; 
       display:inline-table;
      } /* Make table wider */  

td, th { border: 2px solid black; } /* Add borders to cells */