td,th {
  display: center;
  text-align: center;
  align-content: center;
  /*padding: 10px 20px;
  margin left:20px;*/
} 

table { width: 600px; 
 display:inline-table;
 opacity: 0.8;
 background-color:orange;
 color:white;
 position:relative;
 } /* Make table wider */ 

 .indextable{
  width: 600px;
  margin:0 auto;
}

td, th { border: 2px solid black; } /* Add borders to cells */