

<h1>Albums</h1>

<a href="/">home</a>
<% for album in @albums %> 
  <p><%= album.title %></p>

    <form method = "post" action ="/albums/<%= album.id %>/delete">
    <input type="submit" value = "delete">
      
    </form>
  <% end %>

