<h1 align="center"Albums</h1>

<a href="/albums/new">add new album</a>

<% for album in @albums %> 
  <p><%= album.title %></p>

    <form method = "post" action ="/albums/<%= album.id %>/delete">
    <input type="submit" value = "delete">
      
    </form>
  <% end %>

