<!-- <h1>Artists</h1>

<table>
  <tr>
      <th>Artist</th>
      <th></th>
      <th>Album</th>
      <th></th>
      <th>Genre</th>
  </tr>
  <% for artist in @artists %>
  <tr>
    <td><%= artist.name %></td>
    <td>|</td>  
    <td><%= artist. %>

</table> -->