<h1 align="center"Artists</h1>
  
  <a href="/artists/new">add new artist</a>

<% for artist in @artists %> 
  <p><%= artist.name %></p>
  <form method = "post" action ="/artists/<%= artist.id %>/delete">
  <input type="submit" value = "delete">
    
  </form>
<% end %>



