<h1>Artists</h1>
  
  <a href="/">home</a>
<% for artist in @artists %> 
  <p><%= artist.name %></p>

  <form method = "post" action ="/artists/<%= artist.id %>/delete">
  <input type="submit" value = "delete">
    
  </form>
<% end %>



